COMPOSE_PROJECT_NAME=opspilot

POSTGRES_CONTAINER_NAME=opspilot-postgres
POSTGRES_PORT=5432
POSTGRES_USER=opspilot
POSTGRES_PASSWORD=opspilot
POSTGRES_DB=opspilot

REDIS_CONTAINER_NAME=opspilot-redis
REDIS_PORT=6379
REDIS_PASSWORD=opspilot

REDIS_INSIGHT_CONTAINER_NAME=opspilot-redis-insight
REDIS_INSIGHT_PORT=5540
REDIS_INSIGHT_URL=http://localhost:5540

RABBITMQ_CONTAINER_NAME=opspilot-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=opspilot
RABBITMQ_DEFAULT_PASS=opspilot
RABBITMQ_MANAGEMENT_URL=http://localhost:15672

MINIO_CONTAINER_NAME=opspilot-minio
MINIO_INIT_CONTAINER_NAME=opspilot-minio-init
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=opspilot
MINIO_ROOT_PASSWORD=opspilot-secret
MINIO_BUCKET=opspilot
MINIO_ENDPOINT=http://localhost:9000
MINIO_CONSOLE_URL=http://localhost:9001
